/* Site Footer
- Footer Widgets
- Site Footer
---------------------------------------------------------------------------- */

/* Footer Widgets
---------------------------------------------------------------------------- */

.footer-widgets {
	border-top: 1px solid #eee;
	background-color: $primary-color;
	clear: both;
	padding: 60px 0;
	h3 {
		color: white;
	}
	a {
		color: $second;
		text-decoration: none;
	}
	.footer_logo {
		position: relative;
		.V {
			position: absolute;
			left: -117px;
			top: -25px;
			img {
				max-height: 300px;
			}
		}
	}
}

.footer-widgets .wrap {
	margin-left: auto;
	margin-right: auto;
}

.footer-widget-area {
	margin-bottom: 40px;
	padding-left: 30px;
	padding-right: 30px;
}

.footer-widget-area:last-child,
.footer-widgets .widget:last-child {
	margin-bottom: 0;
}

// site footer
.site-footer {
	background-color: $primary-color;
	border-top: 1px solid #eee;
	font-size: 15px;
	line-height: 1.5;
	padding: 30px;
	text-align: center;

	p {
		margin-bottom: 0;
	}
}
