.hello-bar {
	background-color: black;
	box-shadow: 0 0 5px #ddd;
	display: block;
	font-size: 15px;
	font-weight: 700;
	padding: 10px 10px;
	//position: fixed;
	text-align: left;
	width: 100%;
	z-index: 9999;
	color: #fff;
	height: 40px;
}

.preheaderright {
	text-align: right;
}

.preheader {
	text-align: center;
}

@media only screen and (max-width: 800px) {
	.hello-bar {
		margin-top: 0; /*may need to adjust this value for mobile menu fixed position and when it kicks in and the max-width above */
	}
	.preheaderright {
		text-align: left;
	}
}
