.nk-page-nav .nk-page-nav-next,
.nk-page-nav .nk-page-nav-prev {
	height: 360px;
}

.nk-page-nav .nk-page-nav-prev .icon {
	right: -15px;
	width: 20px;
}

.nk-page-nav .nk-page-nav-next .icon {
	left: -20px;
}

.nk-navbar.nk-navbar-light .nk-nav .dropdown {
	background-color: #000;
}
