/* Theme customization starts here
-------------------------------------------------------------- */
#search-overlay__results .nk-search { display: none; }

#search-overlay__results .seach-grid-result { display: grid; grid-template-columns: repeat(auto-fit, minmax(50%, 1fr)); }

#search-overlay__results .seach-grid-result .post-type-result { margin-top: 5px; border: 1px solid #dbdbdb; box-shadow: 3px 4px 9px #aaa; }

#search-overlay__results .seach-grid-result .post-type-result h2 { text-align: center; font-weight: 100; }

#search-overlay__results .seach-grid-result .post-type-result p { text-align: center; }

#search-overlay__results .seach-grid-result .model-list { display: grid; }

#search-overlay__results .seach-grid-result .model-list img { width: 100%; }

#search-overlay__results .seach-grid-result .model-list .seeprofile { max-width: 80%; }

#search-overlay__results .seach-grid-result .model-list article { border: solid 1px; margin: 1px; }

#search-overlay__results .seach-grid-result .model-list article .entry-title { font-size: 20px; }

.search-overlay-active { background: rgba(247, 249, 250, 0.95); height: 100vh; margin-top: 130px; top: 0px; position: fixed; width: 100vw; z-index: 9999; }

.search-overlay-active .seach-overlay__top .container { display: inline-flex; }

.search-overlay-active .seach-overlay__top .fa-search, .search-overlay-active .seach-overlay__top .fa-times { font-size: 45px; color: black; margin-top: 20px; margin-right: 10px; }

.search-overlay-active .seach-overlay__top .fa-times { color: black; font-size: 45px; margin-top: 20px; margin-left: 10px; }

.search-overlay-active .search-term { width: 100%; background: #99999921; padding: 13px 57px 13px 22px; color: #1b2734; font-size: 45px; }

.search-overlay { overflow-y: auto; overflow-x: hidden; z-index: 1100; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(255, 255, 255, 0.96); visibility: hidden; opacity: 0; -webkit-transform: scale(1.09); transform: scale(1.09); transition: opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s; transition: opacity 0.3s, transform 0.3s, visibility 0.3s; transition: opacity 0.3s, transform 0.3s, visibility 0.3s, -webkit-transform 0.3s; box-sizing: border-box; }

.search-overlay p { padding-top: 15px; }

.search-overlay .event-summary p { padding-top: 0; }

.search-overlay .event-summary { margin-bottom: 0; margin-top: 20px; }

body.admin-bar .search-overlay { top: 32px; }

.search-overlay__top { background-color: rgba(0, 0, 0, 0.12); }

.search-overlay__icon { margin-right: 10px; font-size: 1.8rem; color: black; }

@media (min-width: 960px) { .search-overlay__icon { font-size: 2.5rem; } }

.search-overlay--active { margin-top: 125px; visibility: visible; opacity: 1; -webkit-transform: scale(1); transform: scale(1); }

.search-overlay__section-title { margin: 30px 0 1px 0; font-weight: 400; color: #0d3b66; font-size: 2rem; padding: 15px 0; border-bottom: 1px solid #ccc; }

.search-overlay__close { position: relative; float: right; top: 13px; margin-top: -2px; font-size: 2.1rem; cursor: pointer; transition: all 0.3s; color: black; line-height: 0.7; }

.search-overlay__close:hover { opacity: 1; }

.search-overlay .one-half { padding-bottom: 0; }

.search-term { width: 75%; box-sizing: border-box; border: none; padding: 15px 0; margin: 0; background-color: transparent; font-size: 1rem; font-weight: 300; outline: none; color: black; }

@media (min-width: 530px) { .search-term { font-size: 1.5rem; } }

@media (min-width: 960px) { .search-term { width: 80%; } }

.body-no-scroll { overflow: hidden; }

.professor-cards { margin: 0; padding: 0; }

.search-overlay .professor-cards { padding-top: 21px; }

.professor-card { position: relative; display: inline-block; width: 200px; margin-right: 15px; background-color: black; overflow: hidden; }

.search-overlay .professor-card { width: 180px; }

@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin { 0% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.spinner-loader { margin-top: 45px; border-radius: 50%; width: 24px; height: 24px; border: 0.25rem solid rgba(0, 0, 0, 0.2); border-top-color: black; -webkit-animation: spin 1s infinite linear; animation: spin 1s infinite linear; }

/*  ##Device = Desktops ##Screen = 1281px to higher resolution desktops */
@media (min-width: 1281px) { .model-list { margin: 5px; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); }
  .post-type-result { margin: 5px; }
  .search-overlay__close { top: 10px; font-size: 2.8rem; } }

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) { .model-list { margin: 3px; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); }
  .post-type-result { margin: 5px; } }

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) { .model-list { margin: 3px; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); }
  .search-overlay__close { top: 10px; right: 6px; font-size: 2.1rem; }
  .post-type-result { margin: 3px; } }

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) { .model-list { margin: 3px; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); }
  .search-overlay__close { top: 6px; right: 6px; font-size: 2.1rem; } }

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) { .model-list { margin-top: 3px; grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); }
  .search-overlay__close { top: 6px; right: 6px; font-size: 2.1rem; } }

.nk-contacts-top .nk-navbar .wcml-dropdown { width: 100%; }

.nk-contacts-top .nk-navbar .wcml-dropdown li { background-color: transparent; border: none; padding: 0px 10px; }

.nk-contacts-top .nk-navbar .wcml-dropdown li a.wcml-cs-item-toggle { padding-right: 0px; }

#menu-top-menu-icons svg { font-size: 20px; }

@media only screen and (max-width: 600px) { #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu { height: 500px; z-index: 1; overflow: overlay; } }

.nk-navbar li > .nk-badge, li.single-icon > a > span, li.single-icon > a > span, .nk-navbar .nk-nav > li { color: #ffe8de; }

.nk-contacts-top.nk-contacts-top-blur.nk-contacts-top-light.nk-contacts-top-solid::after, .nk-contacts-top.nk-contacts-top-blur.nk-contacts-top-light::after { background-color: #0c0c0c; }

.nk-navbar.nk-navbar-light.nk-navbar-solid::after, .nk-navbar.nk-navbar-light::after { background-color: #000000; }

#nk-nav-mobile .nk-icon-burger { display: none; }

.nk-navbar .d-lg-none { display: none; }

.nk-product-title sup { display: none; }

#radio_toggler_select_pa_size > li label { background: #fee9de; margin: 5px; }

.woocommerce div.product form.cart .reset_variations { display: none !important; }

.woocommerce div.product span.price { font-size: 1.2rem; margin-top: 10px; }

.home p { color: #f592a3; font-family: "Great Vibes", cursive; font-size: 45px; }

.home h3 { color: #f592a3; font-family: "Great Vibes", cursive; font-size: 45px; }

.home h3 .pointer { cursor: pointer; }

.home .nk-contacts-top.nk-contacts-top-blur.nk-contacts-top-light.nk-contacts-top-solid::after, .home .nk-contacts-top.nk-contacts-top-blur.nk-contacts-top-light::after { background-color: transparent; }

.home .nk-gap-4 { height: 0px; }

.home .nk-main { overflow: hidden; background-color: black; margin-top: -35px; }

.home .nk-typed { font-weight: 100; font-family: "League Script", cursive; }

.home .text-main-color { color: #da7b93; }

.home .homeslider { height: 100vh; margin-top: 100px; }

.home .homeslider .heder-sentence { margin: auto; align-items: flex-start; display: flex; }

.home .homeslider #typed { color: #fdc; font-weight: 900; text-transform: uppercase; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.home .homeslider .main--brdr h3:hover { font-size: 48px; color: black !important; text-decoration: none; cursor: pointer; }

.home .homeslider a:hover { color: transparent; }

.home .container-fluid { margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px; }

.home .main-border { position: relative; padding: 2rem; }

.home .main--brdr { justify-content: space-around; justify-content: space-around; align-items: flex-end; }

.home .main--brdr h3 { color: #fdc !important; }

.home .main-brd-left { border-top: 2px solid rgba(249, 237, 230, 0.5); border-left: 2px solid rgba(249, 237, 230, 0.5); border-bottom: 2px solid rgba(249, 237, 230, 0.5); padding: 2rem; min-height: 80vh; }

.home .main-brd-right { border-top: 2px solid rgba(249, 237, 230, 0.5); border-right: 2px solid rgba(249, 237, 230, 0.5); border-bottom: 2px solid rgba(249, 237, 230, 0.5); padding: 2rem; min-height: 80vh; }

.home .main-border--img { min-height: 80vh; }

.home .ownsecret { width: 200px; position: absolute; bottom: 0px; margin: 0 auto; transition: -50%; left: 0; right: 0; margin-left: auto; margin-right: auto; }

.home .nk-navbar.nk-navbar-light.nk-navbar-solid::after, .home .nk-navbar.nk-navbar-light::after { background-color: transparent; }

.slider-home { margin-top: 70px; }

.slider-home-scrolled { margin-top: 105px; }

/* ##Device = Desktops ##Screen = 1281px to higher resolution desktops */
@media (min-width: 1281px) { .main--brdr { display: flex; }
  #typed { font-size: 7rem; } }

/* ##Device = Laptops, Desktops ##Screen = B/w 1025px to 1280px */
@media (min-width: 1025px) and (max-width: 1280px) { .main--brdr { display: flex; } }

/* ##Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) { #typed { font-size: 5rem; }
  .main--brdr { display: flex; }
  .main--brdr h3 { display: none; } }

/* ##Device = Tablets, Ipads (landscape) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) { .main--brdr { display: flex; } }

/* ##Device = Low Resolution Tablets, Mobiles (Landscape) ##Screen = B/w 481px to 767px */
/* ##Device = Most of the Smartphones Mobiles (Portrait) ##Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 480px) { #typed { font-size: 3rem; }
  .main-brd-left { display: none; }
  .main-brd-right { display: none; } }

.nk-copyright { background-color: white; color: black; padding: 0.5rem 0; }

.nk-copyright a { color: black; }

.nk-copyright .container { max-width: 100%; }

.nk-copyright .container .credit-footer { display: flex; justify-content: space-between; }

.nk-footer { color: black; }

.nk-footer .nk-widget { margin-top: 40px; }

.nk-footer .row.vertical-gap { margin-top: 0px; }

.nk-footer a { color: black; }

.nk-footer #menu-shop-with-us, .nk-footer .menu { list-style-type: none; margin-left: 0px; padding-left: 0px; line-height: 30px; }

.nk-footer .mailster-form-fields { display: inline-flex; }

.nk-footer .mailster-submit-wrapper { margin-top: 0px; }

.nk-footer .nk-widget-title { font-size: 15px; line-height: 12px; letter-spacing: 2.15px; font-weight: 400; }

.nk-footer .menu-item { font-size: 16px; font-weight: 400; }

.nk-widget-social-2 a { float: left; display: inline-flex; }

.nk-widget-social-2 a .svg-inline--fa { margin-right: 20px; }

.nk-widget-social-2 a .fa-facebook-f { margin-right: 30px; }

.nk-widget-social-2 a.icon { margin: 0px; float: left; margin-right: 5px; }

.nk-widget-social-2 a { margin: 0 10px; }

.nk-widget-social-2 .h5 { font-size: 17px; font-weight: 300; margin-top: 7px; padding: 0px; }

.nk-page-nav .nk-page-nav-next, .nk-page-nav .nk-page-nav-prev { height: 360px; }

.nk-page-nav .nk-page-nav-prev .icon { right: -15px; width: 20px; }

.nk-page-nav .nk-page-nav-next .icon { left: -20px; }

.nk-navbar.nk-navbar-light .nk-nav .dropdown { background-color: #000; }

.nk-header-table { background-color: black; }

.nk-header-table .nk-title { color: #f592a3; font-family: "Great Vibes", cursive; font-size: 70px; }

.reset_variations { display: none; }

#pum-306953 .nk-typed.ready > span, #pum-306953 .nk-typed { color: #ffe8de; font-size: 53px; }

/*# sourceMappingURL=style-main.css.map */
